@use "../../assets/scss/breakpoints" as *;

.sectionContainer {
  margin-bottom: 100px;
}

.successImg {
  width: 300px;
  height: 264px;
  margin: 0 auto;

  @include sm {
    width: 328px;
    height: 290px;
  }
}
