@use "../../assets/scss/breakpoints" as *;

.gridContainer {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 20px;

  @include md {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 16px;
  }

  @include lg {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 29px;
  }
}
