.container {
  $max-width: 250px;
  $indentation: 20px;

  max-width: $max-width;
  padding: $indentation;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;

  .image {
    width: 70px;
    height: 70px;
    margin: 0 auto $indentation auto;
    border-radius: 50%;
    object-fit: cover;
  }

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .name {
    margin-bottom: $indentation;
  }
}
