@use "../../../assets/scss/colors" as *;

.button {
  padding: 4px 23px;
  border: none;
  border-radius: 80px;
  color: #000;
  background-color: $primary-color;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;

  &:hover {
    background-color: #ffe302;
  }

  &.disabled {
    color: #fff;
    background-color: #b4b4b4;
    cursor: auto;
  }
}
